.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user {
  margin: 1rem;
  padding: 1rem;
}

.AI {
  margin: 1rem;
  background-color: #3B364C;
  padding: 1rem;
  border-radius: 10px;
}
